<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structured Page</title>
</head>
<body>
    <h1>Frontend Developer</h1>
    <h2>Зміст</h2>
    <ul>
        <li><a href="#html">HTML</a></li>
        <li><a href="#css">CSS</a></li>
        <li><a href="#js">JavaScript</a></li>
    </ul>

    <h2 id="html">Html Tutorial</h2>
    <p>
        <h3>Що таке HTML? Як створюють веб-сайти?</h3>
        <b> HTML</b> (від англ. HyperText Markup Language — 'мова гіпертекстової розмітки') — стандартизована мова розмітки документів у Всесвітній павутині.
        <br> Більшість вебсторінок мають зміст розмітки мовою HTML (або XHTML). Мова HTML інтерпретується браузерами; отриманий в результаті інтерпре-<br>
        тації форматований текст відображається на екрані монітора комп’ютера або мобільного пристрою.
        Мова HTML до 5-ї версії визначалась як додаток SGML (стандартної узагальненої мови розмітки за стандартом ISO 8879). Специфікації HTML5 формулюються <br>
        в термінах DOM (об’єктній моделі документа).
        Мова XHTML є більш суворим варіантом HTML, вона слідує синтаксису XML і є додатком мови XML в області розмітки гіпертексту.
        У всесвітній мережі HTML-сторінки, як правило, передаються браузерам від сервера по протоколам HTTP або HTTPS, у вигляді простого тексту або з використанням шифрування.

    <h2 id="css">CSS Tutorial</h2>
    <p> <h3>Що таке CSS?</h3>
        <b> CSS</b> (англ. Cascading Style Sheets, рус. Каскадні таблиці стилів) — спеціальна мова, яка використовується для опису зовнішнього вигляду сторінок,<br>
        написаних мовами розмітки даних.
        Найбільш часто CSS використовують для візуальної презентації сторінок, написаних на HTML та XHTML, але формат CSS може застосовуватись і до інших видів XML-документів.
        Специфікації CSS були створені і розвиваються Консорціумом Всесвітньої павутини - W3C.
        CSS має різні рівні та профілі. Наступний рівень CSS створюється на основі попередніх, додаючи нову функціональність або розширюючи функції, що вже існують. Рівні позначаються як CSS1, CSS2 та CSS3. <br>
        Профілі - сукупність правил CSS одного або більше рівнів, створені для окремих типів пристроїв або інтерфейсів. Наприклад, існують профілі CSS для принтерів, мобільних пристроїв тощо.
        CSS (каскадна або блокова верстка) прийшла на заміну табличній верстці вебсторінок. Головна перевага блокової верстки - розділення змісту сторінки (даних) та її візуальної презентації (оформлення).
        Станом на 2023-й рік актуальною версією є специфікація CSS3. Специфікація CSS4 розробляється ще з 2011 року. Модулі CSS4 побудовані на основі CSS3 і доповнюють їх новими властивостями та значеннями. <br>
        Всі вони існують поки що як чернетки (working draft) і на цей час офіційно не затверджені.

    <h2 id="js">JavaScript Tutorial</h2>
    <p> <h3> Навіщо вивчати JavaScript?</h3>
        <b>JavaScript</b> - одна з трьох технологій, які мають вивчити і знати всі веб-розробники:
        1. HTML для визначення змісту веб-сторінок
        2. CSS для створення макету веб-сторінок
        3. JavaScript для програмування поведінки веб-сторінок.<br>
        <b>JavaScript</b> — динамічна, об'єктно-орієнтована прототипна мова програмування. Реалізація стандарту ECMAScript.<br><br>

    <h3><a href="#">Back to Top</a></h3>

    <h2>Посилання</h2>
    <ul>
        <li><a href="https://www.w3schools.com/html/">HTML Tutorial</a></li>
        <li><a href="https://www.w3schools.com/css/">CSS Tutorial</a></li>
        <li><a href="https://www.w3schools.com/js/">JavaScript Tutorial</a></li>
    </ul>
</body>
</html>
